@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);

  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-dashsuba-primary: #1e293b;
  --color-dashsuba-secondary: #64748b;
  --color-dashsuba-accent: #0f172a;
  --color-dashsuba-success: #10b981;
  --color-dashsuba-error: #ef4444;
  --color-dashsuba-surface: #f8fafc;
  --color-dashsuba-border: #e2e8f0;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
